* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #081b29;
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.navbar a {
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 25px;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.always-show {
    color: #00abf0;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 10%;
}

.home-content {
    max-width: 550px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: bold;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 25.5px;
    font-weight: bold;
    color: #00abf0;
}

.home-content p {
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0 40px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.btn-box a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: 0.5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-icon {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-icon a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.home-icon a:hover {
    color: #081b29;
}

.home-icon a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: 0.5s;
}

.home-icon a:hover::before {
    width: 100%;   
}
